*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #4a3b2a;
}
/* ----------------------------------------------------------------------- */
nav{
    display: flex;
    align-items: center;
    background-color: black;
    height: 3.5rem;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    color: white;
    padding: 7px;
    font-weight: bold;
}
#logo{
    display: flex;
    justify-items: center;
    align-items: center;
}
#logo img{
    width: 40px;
    padding: 0px 8px;
}
#logo p{
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 15px;
    font-family: 'Supermercado One', cursive;
}
/* ----------------END OF NAV BAR--------------- */
#Song_section{
    background:url('bg.jpg')  center center/cover;
    height: 35.2rem;
    display: flex;
    width: 75%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 25px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

#song-container{
    width: 50%;
    text-align: center;
}
#song-container h1{
    color: yellow;
}
.song-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 25px;
    padding: 3px 12px;
    border-radius: 34px;
    background-color: white;
}

.song-item img{
    width: 40px;
    height: 37px;
    border-radius: 40px;
}
.song-item i{
    padding: 5px;
}
.songname{
    font-weight: bolder;
}
#extraspace{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#extraspace h1{
    font-size: 50px;
    color:whitesmoke;
    font-weight: bolder;
}
#extraspace p{
    padding: 8px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px #380a0a;
    border-radius: 25px;
    margin-top: 10px;
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}
#songinfoname{
    color: yellow;
    margin: 8px;
    font-size: 20px;
    font-weight: bolder;
}
#playbackimg{
    width: 24%;
    height: 25%;
    border: 2px solid white;
    box-shadow: 2px 2px 2px #380a0a;
    border-radius: 50%;
    margin-top: 11px;
}
/* ----------------------END oF Song Section----------- */
.play-bar{
    /* position: sticky;
    bottom: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
.play-bar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: black;
    z-index: -1;
    opacity: 1;
}
.icons i{
    padding-top: 5px;
    font-size: 35px;
    cursor: pointer;
    color: white;
}
#range-bar{
    width: 80%;
    cursor: pointer;
}

#songinfo{
    margin-top: 16px;
    position: absolute;
    left: 9.6rem;
    color: white;
}
#songinfo img{
    padding-right: 5px;
    opacity: 0;
    transition: opacity .5s ease-in;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/* ---------------------------------End of PlayBar-------------------------------------- */

footer{
    text-align: center;
    background-color: rgb(165, 62, 62);
    color: white;

}
